<span class='title'>{{model.title}}</span>
{{#md-badge class='container-badge white-text' }}
  {{model.numberOfContainers}}
{{/md-badge}}
<p>This group contains the followings:</p>
{{#md-collection content=(await model.relatedContainerItems) as |item|}}
  {{container-component model=item}}
{{/md-collection}}
