<div class="container">
  {{#md-card}}
    {{docker-compose-form changeset=changeset allowDelete=allowDelete allowDownload=allowDownload showDeleteDialog=(action 'showDeleteDialog')   goToCompactView=(action 'goToCompactView') newFile=newFile}}
  {{/md-card}}
</div>

{{#if showDialog}}
  {{confirmation-dialog buttonText='Delete' text="Delete this Docker Compose file?" closeDialog=(action 'closeDialog') action='delete' delete=(action 'delete')}}
{{/if}}
