// Fix for Roboto font path
$roboto-font-path: '../assets/';
@import 'components/color'; // Custom color settings go here
$secondary-color: color("blue-grey", "lighten-1");
$primary-color: #ee6e73;
// Materialize styles
@import "materialize"; // ember-cli-materialize styles
@import 'ember-cli-materialize';

// import custom files
@import 'app/styles/default.scss';
@import 'app/styles/compact.scss';
@import 'app/styles/editor.scss';
