.compact {
  .container {
    h1 {
      text-align: center;
    }

    .search {
      i {
        color: $secondary-color;
      }
    }

    ul {
      &.list {
        li {
          &:hover {
            cursor: pointer;
            background: #ddd;
          }
        }
      }
    }

    .floating-btn {
      float: right;
      a {
        background-color: $secondary-color;
      }
    }
  }
}
