.editor {
  .edit,
  .new {
    display: inline-block;
    width: 60%;

    .text-editor {
      padding-top: 7%;

      .container {
        .card-action {
          .default-actions {
            display: inline-block;
          }

          .delete-action {
            float: right;
          }
        }
      }
    }
  }

  .container-manager {
    display: inline-block;
    width: 35%;
    position: absolute;
    top: 15%;

    .search {
      i {
        margin-left: 1%;
        font-size: 24px;
        color: $secondary-color;
        display: inline-block;
      }

      input {
        display: inline-block;
        width: 85%;
      }
    }

    .preloader-wrapper {
      margin-left: 40%;
    }

    .container-search-results {
      .result-element {
        span {
          &.title {
            font-weight: 500;
            font-size: 14px;
          }
        }

        .container-group-result-element {
          .collection-item {
            background: lighten($secondary-color, 40%);

            .container-element {
              background-color: lighten($primary-color, 30%);
            }

            p {
              font-style: italic;
              font-size: 11px;
              padding-top: 5%;
            }
          }
        }

        .container-result-element {
          .collection-item {
            background-color: lighten($primary-color, 30%);
          }
        }
      }
    }
  }
}
