.editor {
  .edit,
  .new {
    display: inline-block;
    width: 90%;

    .text-editor {
      padding-top: 7%;
      display: inline-block;
      width: 70%;

      .container {
        textarea {
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #9e9e9e;
          border-radius: 0;
          outline: none;
          resize: none;
          padding: 1.6rem 0;
          overflow-y: hidden;
          width: 100%;
          font-size: 1rem;
          margin: 0 0 15px;

          &:focus {
            border-bottom: 1px solid #78909c;
            box-shadow: 0 1px 0 0 #78909c;
          }
        }

        .red-input {
          input,
          textarea {
            border-bottom-color: red;

            &:focus {
              border-bottom: 1px solid red;
              box-shadow: 0 1px 0 0 red;
            }
          }
        }

        .card-action {
          .default-actions {
            display: inline-block;
          }

          .delete-action {
            float: right;
          }
        }
      }
    }

    .container-manager {
      display: inline-block;
      width: 25%;
      padding-top: 7%;
      position: absolute;
      top: 5%;

      .search {
        i {
          margin-left: 1%;
          font-size: 24px;
          color: $secondary-color;
          display: inline-block;
        }

        input {
          display: inline-block;
          width: 85%;
        }
      }

      .preloader-wrapper {
        margin-left: 40%;
      }

      .container-search-results {
        .result-element {
          cursor: pointer;

          span {
            &.title {
              font-weight: 500;
              font-size: 14px;
            }
          }

          .container-group-result-element {
            .collection-item {
              background: lighten($secondary-color, 40%);

              .container-element {
                background-color: lighten($primary-color, 30%);
              }

              p {
                font-style: italic;
                font-size: 11px;
                padding-top: 5%;
              }

              .container-badge {
                color: lighten($primary-color, 15%) !important;
                background-color: darken($secondary-color, 0%) !important;
              }
            }
          }

          .container-result-element {
            .collection-item {
              background-color: lighten($primary-color, 30%);
            }
          }
        }
      }
    }
  }
}
