<div class="edit">
  {{text-editor model=model allowDelete=true allowDownload=true  goToCompactView=(action 'goToCompactView') addDockerText=(action 'addDockerText')}}
  {{container-manager addDockerText=(action 'addDockerText')}}
</div>
