<div class="edit">
  {{text-editor changeset=(changeset model DockerComposeValidations) allowDelete=true allowDownload=true  goToCompactView=(action 'goToCompactView')}}
  {{container-manager}}
</div>
