<div class="new">
  {{text-editor model=model goToCompactView=(action 'goToCompactView') addDockerText=(action 'addDockerText')}}
  {{container-manager addDockerText=(action 'addDockerText')}}
</div>
