<div class="compact">
  <div class="container">
    <h1>Docker Compose files</h1>
  </div>
  <div class="container">

    <ul class="list">
      {{#md-collection content=model as |dockerCompose|}}
        <li class='collection-item'>
          {{dockerCompose.text}}
        </li>
      {{/md-collection}}
    </ul>

    <div class="floating-btn">
      {{md-btn icon='add' action='addNewFile' buttonType='floating' class='btn-large'}}
    </div>

  </div>
</div>
