<div class="index">
  <div class="container">
    <h1>Welcome to the Stack Builder</h1>
  </div>
  <div class="container">
    {{#md-card-panel}}
      <div class="text">
        such text
      </div>
    {{/md-card-panel}}
  </div>
</div>
