<div class="index">
  <div class="container">
    <h1>Welcome to the Stack Builder</h1>
  </div>
  <div class="container">
    {{#md-card-panel}}
      <div class="text">
        Under the
        {{#link-to 'compact'}}compact list view {{/link-to}} section you can search for existing docker compose files. Click on a list item to open it in the editor. To create a new file, use the {{bw-compat-icon 'add'}} button.
      </div>
    {{/md-card-panel}}
  </div>
</div>
